<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We Share</title>
    <link rel="icon" href="https://lh3.googleusercontent.com/KJZtKZFjh-kIQ9PAbM69LhpYrZd7YBJXT72IXsr277BGmncmDG98s07bqNAAeT7AmnxEhg=s31" type="image/icon type">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/login.css" />
    <script
      src="https://kit.fontawesome.com/350d7bac7e.js"
      crossorigin="anonymous"
    ></script>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif
 }

body {
    background-color: #012F4F;
}

.nb1 {
    background-color: #012F4F;
}

.tlogo {
    object-fit: cover;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 8px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.nav-item {
    text-align: center;
    font-size: 25px;
}

 .wrapper {
     max-width: 350px;
     min-height: 450px;
     margin: 80px auto;
     padding: 40px 30px 30px 30px;
    background-color: #BAE4FE;
     border-radius: 15px;
 }

 .logo {
     width: 80px;
     margin: auto
 }

 .logo img {
     width: 100%;
     height: 80px;
     object-fit: cover;
     border-radius: 50%;
     border: 1px solid white;
 }

 .wrapper .name {
     font-weight: 600;
     font-size: 1.4rem;
     letter-spacing: 1.3px;
     padding-left: 10px;
     color: #555
 }

 .wrapper .form-field input {
     width: 100%;
     display: block;
     border: none;
     outline: none;
     background: none;
     font-size: 1.2rem;
     color: #666;
     padding: 10px 15px 10px 10px
 }
input{
    background-color: #BAE4FE;
}
 .wrapper .form-field {
     padding-left: 10px;
     margin-bottom: 20px;
     border-radius: 20px;
    border: 1px solid #012F4F;
    background-color: #BAE4FE;
 }

 .wrapper .form-field .fas {
     color: #555
 }


 .wrapper a {
     text-decoration: none;
     font-size: 0.8rem;
     color: #03A9F4
 }

 .wrapper a:hover {
     color: #ffffff
 }
.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #012F4F;
    color: #fff;
    border-radius: 25px;
    letter-spacing: 1.3px;
    font-size: 1rem;
}

.wrapper .btn:hover {
    background-color: #039BE5
}
 @media(max-width: 380px) {
     .wrapper {
         margin: 30px 20px;
         padding: 40px 15px 15px 15px
     }
 }
    </style>
  </head>
  <body>

    <%- include('partials/navbar') %>
    <form action="/login" method="POST">
      <div class="wrapper">
        <h2 style="text-align: center; color: #090c13;">We Share</h2>
        <div class="logo"><img src="/images/logo.jpg" alt="" /></div>
        <div class="text-center mt-4 name">For Faculty</div>
        <div class="p-3 mt-3">
          <div class="form-field d-flex align-items-center">
            <span class="fas fa-user"></span>
            <input
              type="text"
              name="username"
              id="userName"
              placeholder="Username"
              required
            />
          </div>
          <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input
              type="password"
              name="password"
              id="pwd"
              placeholder="Password"
              required
            />
          </div>
          <% if(islogin===false){ %>
          <p style="color:rgb(204, 31, 31)"><%= error %></p>
          <% } %>
          <button class="btn btn-light btn-lg" type="submit">Login</button>
        </div>
      </div>
    </form>

<%- include('partials/footer') %>

    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

